<div id="details">
<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :courses %>
    <%= f.select :courses, COURSES.map{|x| [x,x]}, {}, {multiple: true} %>
  </div>

  <div class="field">
    <%= f.label :years %>
    <%= f.select :years, YEARS.map{|x| [x,x]}, {}, {multiple: true} %>
  </div>

  <div class="field">
    <%= f.label :administrator %>
    <%= f.check_box :administrator %>
  </div>

  <% @data = session["devise.google_data"].info %>
  <%= f.hidden_field :name, :value => @data["name"] %>
  <%= f.hidden_field :email, :value => @data["email"] %>
  <%= f.hidden_field :password, :value => Devise.friendly_token[0,20] %>

  <div><%= f.submit "Sign up" %></div>
<% end %>
</div>
