<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div>
    <%= f.label :course %><br />
    <%= f.select :course, COURSES.map{|x| [x,x]} %>
  </div>

  <div>
    <%= f.label :year %><br />
    <%= f.select :year, YEARS.map{|x| [x,x]} %>
  </div>

  <div>
    <%= f.label :administrator %><br />
    <%= f.check_box :administrator %>
  </div>

  <% @data = session["devise.google_data"].info %>
  <%= f.hidden_field :name, :value => @data["name"] %>
  <%= f.hidden_field :email, :value => @data["email"] %>
  <%= f.hidden_field :password, :value => Devise.friendly_token[0,20] %>

  <div><%= f.submit "Sign up" %></div>
<% end %>
