<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :teacher %><br>
    <%= f.text_field :teacher %>
  </div>
  <div class="field">
    <%= f.label :limit %><br>
    <%= f.number_field :limit %>
  </div>

  <div class="field">
    <%= f.label :course %><br>
    <%= f.select :course_list, COURSES.map{|x| [x,x]}, {}, {:multiple => true} %>
  </div>
  <div class="field">
    <%= f.label :year %><br>
    <%= f.select :year_list, YEARS.map{|x| [x,x]}, {}, {:multiple => true} %>
  </div>

  <div class="field">
    <%= f.label :start_datetime %><br>
    <%= f.datetime_select :start_datetime %>
  </div>
  <div class="field">
    <%= f.label :end_datetime %><br>
    <%= f.datetime_select :end_datetime %>
  </div>

  <div class="field">
    <%= f.label :resources %><br>
    <%= f.text_area :resources %>
  </div>

  <div class="field">
    <%= f.label :tags %><br>
    <%= f.select :tag_list, TAGS.map{|x| [x,x]}, {}, {:multiple => true} %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
