<div id="details">
<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :teacher %>
    <%= f.text_field :teacher %>
  </div>
  <div class="field">
    <%= f.label :limit %>
    <%= f.number_field :limit, {min:0} %>
  </div>

  <div class="field">
    <%= f.label :course %>
    <%= f.select :course_list, COURSES.map{|x| [x,x]}, {}, {:multiple => true} %>
  </div>
  <div class="field">
    <%= f.label :year %>
    <%= f.select :year_list, YEARS.map{|x| [x,x]}, {}, {:multiple => true} %>
  </div>
  <div class="field">
    <%= f.label :types %>
    <%= f.select :type_list, TYPES.map{|x| [x,x]}, {}, {:multiple => true} %>
  </div>


  <div class="field" id="start_datetime">
    <%= f.label :start_datetime %>
    <input data-format='dd/MM/yyyy hh:mm:ss' id="event_start_datetime" name="event[start_datetime]" type="datetime" value="<%=(@event.start_datetime || DateTime.now).strftime('%d/%m/%Y %H:%M:%S')%>">
    <span class="add-on">
      <i data-time-icon="icon-time" data-date-icon="icon-calendar"> </i>
    </span>
  </div>
  <div class="field">
    <%= f.label :duration %>
    <%= f.number_field :duration, {min:0} %>
  </div>

  <div class="field">
    <%= f.label :resources %>
    <%= f.text_area :resources %>
  </div>

  <div class="field">
    <%= f.label :specialties %>
    <%= f.select :tag_list, TAGS.map{|x| [x,x]}, {}, {:multiple => true} %>
  </div>

  <div class="field">
    <%= f.label :keywords %>
    <%= f.text_field :keywords %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
