<% if @event.users.include? current_user %>
  <p>
    You are attending this event
  </p>
<% elsif @event.waitlist_users.include? current_user %>
  <p>
    You are on the waiting list to attend this event
  </p>
<% end %>

<p> <strong>Title:</strong> <%= @event.title %> </p>
<p> <strong>Location:</strong> <%= @event.location %> </p>
<p> <strong>Teacher:</strong> <%= @event.teacher %> </p>
<p> <strong>Limit:</strong> <%= @event.limit %> </p>

<p> <strong>Courses:</strong> <%= intersperse @event.course, "," %> </p>
<p> <strong>Years:</strong> <%= intersperse @event.year, "," %> </p>

<p> <strong>Start:</strong> <%= @event.start_datetime %> </p>
<p> <strong>End:</strong> <%= @event.end_datetime %> </p>

<p> <strong>Resources:</strong> <%= @event.resources %> </p>
<p> <strong>Tags:</strong> <%= intersperse @event.tags, "," %> </p>

<% if @event.users.include? current_user %>
  <%= link_to 'Leave', leave_event_path(@event) %> |
<% elsif @event.waitlist_users.include? current_user %>
  <%= link_to 'Leave waiting list', leave_waitlist_event_path(@event) %> |
<% else %>
  <%= link_to 'Join', join_event_path(@event) %> |
<% end %>
<% if current_user.administrator? %>
  <%= link_to 'Edit', edit_event_path(@event) %> |
<% end %>
<%= link_to 'Back', events_path %>
